header {
    background-color: #c7d8f9;
    height: 50px;
}

header img {
    max-height: 30px;

}
header ul li{
    list-style-type: none;
    float: left;
    margin-right: 25px;
    font-size: 18px;
    font-weight: bold;
}
header ul{
    margin:15px 0 0 0;
    padding: 0px;
    float: right;
}

.container h2 {
    margin:2px 0 0 0;
    background-color:#c75f5f;
    text-align: center;
    padding:120px;
    color: white;
}

input
{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style:hidden;
    border-bottom-style: groove;
    width: 97%;
    
}

select
{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style:hidden;
    border-bottom-style: groove;

    
}


li a{
    text-decoration: none;
    color: black;
 }
.side-info 
{
    text-align: justify;
    border: 1px solid #f13624;
    padding: 30px;
    display: inline-block;
    font-size: 18px;
    margin-left: 35px;
}


.side-info h3 , .side-info h5 
{
    font-weight: bold;
}
form .col-4 
{
    width: 50%;
}


button {
    width: 15%;
    padding:5px;
    background-color: #f13624;
    color: white;
    border: 1px solid #f13624;
}

.side-info p {
    text-decoration: underline #f13624;
    color:gray;
}

footer{
    background-color: #c7d8f9;
    height: 50px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
.forms
{
    margin-left: 20px;
}
input 
{
    width: 100%;

}